.contact-form{
    width: 50%;
    height: 300px;
    background-color: powderblue;
}


.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fab{
    color: #5ec4d2;
}

.contact-btn{
    width: 100px;
}