.intro-container{
    /* height: 200px; */
}

.thumbnail-collection{
    width: 100%;
    /* background-color: lemonchiffon; */
    margin-top: 3%;
    /* display: flex;
    justify-content: center; */
    /* flex-direction: row; */
}
.portfolio-thumbnail{
    height: 300px;
    width: 450px;
    border: 1px solid coral;
    margin: 7%;
    object-fit: cover;
    box-shadow: 1px 1.5px 4px rgb(232, 232, 232);
    border-radius: 15px;
    cursor: pointer;
}

.portfolio-thumbnail:hover{
    background-color: red;
    z-index: 2;
}

.rounded{
    border-radius: 15px;
    background-color: aliceblue;
    /* background-color: white; */
    flex-direction: column;
    padding: 15px;
    position: absolute;
    z-index: 2;
}

.portfolio-row{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}