
.landing{
    padding: 5% 5%;
    /* background-color: plum; */
    font-family: Montserrat;
    /* height: 80%; */
    display: flex;
    justify-content: space-evenly;
}
.header-text{
    font-weight: 800;
    font-size: 280px;
    color: rgb(235, 235, 235);
}

.mallory-dalley{
    font-weight: 500;
    font-size: 70px;
 }

 .picture-side{
     display: flex;
     justify-content: center;
     align-items: center;
 }

.profile-pic{
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.colored-background{
    background-color: #5ec4d2;
    z-index: 1;
    height: 250px;
    width: 100%;
    position: absolute;
}

.intro-container{
    background-color: #5ec4d2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.intro{
    padding: 5% 15%;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    /* z-index: 2; */

}


.skill-container{
    /* background-color: skyblue; */
}

.skill-block{
    /* background-color: lightgray; */
    padding: 0 30px 20px;
    display: flex;
    justify-content: center;
}

.skills{
    background-color: white;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    z-index: 2;
}

.skill-icons{
    height: 150px;
    width: 150px;
}

.section-head{
    font-weight: 800;
    color: #5ec4d2;
}

.skill-section{
    font-weight: 600;
    font-size: 18px;
    color: #5ec4d2;
}

p{
    font-size: 18px;
}

.dummy{
    height: 90px;
    /* width: 90px; */
    margin: 6% 0;
}

.marketing-skills{
    border-radius: 15px 0px 0px 15px;
    border: 2px solid lightgray;
}

.web-skills{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    /* border-top: 0;
    border-bottom: 0; */
}

.designer-skills{
    border-radius: 0px 15px 15px 0px;
    border: 2px solid lightgray;
}

.gray-section{
    background-color: #f8f9fa;
    margin: 8% 0;
    padding: 1% 0;
}

@media screen and (max-width: 766px){
    .header-text{
        font-size: 140px;
        text-align: center;
    }
    .mallory-dalley{
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }
    h5{
        font-size: 66px;
        text-align: center;
    }

    .picture-side{
        margin: 7% 0;
    }

    .profile-pic{
        height: 200px;
    }
    .marketing-skills{
        border-radius: 15px 15px 0px 0px;
    }
    .web-skills{
        border-right: 2px solid lightgray;
        border-left: 2px solid lightgray;
    }
    .designer-skills{
        border-radius: 0px 0px 15px 15px;
    }
    .skill-block{
        padding: 15% 30px 35%;
    }
    .colored-background{
        height: 400px;
    }
    .intro{
        padding-top: 25%;
        font-size: 22px;
    }
}

@media screen and (max-width: 400px){
    .header-text{
        font-size: 100px;
    }
}