.navbar-brand{
    font-family: Kaushan Script;
}

.navbar{
    position: sticky;
    box-shadow: 1px 1.5px 4px rgb(232, 232, 232);
}


/* .nav{
    height: 70px;
    width: 100%;
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .nav-items{
    list-style-type: none;
}

li{
    display:inline;
    padding-right: 20px;
} */